@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: "Lobster Two", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

/* font-family: "Federant", serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}

:root {
    --bg-color: #03624C;
    --text-color: #030F0F;
    --icon-color: #00DF82;
}

.dark-theme {
    --bg-color: #030F0F;
    --text-color: #00DF82;
    --icon-color: #03624C;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
    line-height: 1.5;
}

.title {
    font-family: "Federant", serif;
}

p,
li,
a {
    font-size: var(--font-size);
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto
}

ul,
ol {
    margin: 0;
    padding: 0;
}


.top-header {
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 5px 0;
}

.top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}


.top-flex li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-flex li a i {
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    background-color: white;
    color: var(--text-color);
    border-radius: 100%;
    margin-left: 8px;

}

.top-flex li a {
    color: white;
    gap: 7px;
    display: flex;

}

.top-flex li a i:hover {
    background-color: var(--icon-color);
}

.top-social ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-social ul li a {
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    background-color: white;
    color: var(--text-color);
    border-radius: 50%;
    margin-right: 8px;
    font-size: var(font-size);
}

.top-social ul li a:hover {
    background-color: var(--icon-color);
}

/* top conten small screen */
@media (max-width: 768px) {
    .top-content {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-size: 10px;
    }

    .top-flex li {
        display: flex;
        align-items: center;
        gap: 0;
    }

    .top-flex li a i {
        width: 20px;
        height: 20px;
        display: grid;
        place-content: center;
        background-color: white;
        color: var(--text-color);
        border-radius: 100%;
        margin-left: 2px;

    }

}

/* top conten small screen end */

/* main header */
.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
}

.logo img {
    width: 100px;
    height: 80px;
}

.search-header form {
    width: 300px;
    position: relative;
}

.search-header form input {
    width: 100%;
    padding: 8px 40px;
    border-radius: 30px;
    color: #333;
    position: relative;
    border: none;
    outline: none;
    background-color: #00DF82;

}

.search-header form i {
    position: absolute;
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    top: 7px;
    left: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #03624C;
}

.icon-header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 12px;
}

.icon-header ul li a {
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    background-color: #00DF82;
    border-radius: 50%;
    font-size: 14px;
}

/* navbar */
.navbar button {
    transition: all 0.5s ease-in-out;
    border: none;
}

.navbar button:hover {
    transform: translateY(-6px);
}

.navbar button:focus {
    border: none;
    box-shadow: none;

}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar ul a {
    display: inline-block;
    padding: 13px 18px;
    font-size: 18px;
    position: relative;
}

/* animation navbar */
.navbar ul a::before {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 0;
    background-color: #00DF82;
    height: 2px;
    transition: all 0.5s ease;
}

.navbar li a:hover::before {
    width: 70%;
}

/* banner */
section {
    position: relative;
}

.banner {
    background-image: url('images/banner.png');
    background-position: right 20% center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 73vh;
    padding: 30px 0;
    background-color: #f5f5f5e4;
}

.banner-main-text {
    width: 60%;
    padding: 40px;
    /* text-align: right; */
}

.banner-main-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 10px 0;
    font-family: "Lobster Two", sans-serif;
}

.banner-main-text h5 {
    font-family: "Federant", serif;
}

.banner-btn a {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 30px;
    background-color: var(--bg-color);
    color: #fff;

}

.hgihtlight {
    color: var(--bg-color);
    font-family: "Lobster Two", sans-serif
}

/* mobile  */
@media (max-width:1230px) {

    .banner-main-text {
        width: 100%;
        /* background: rgba(128, 128, 128, 0.4);
        background-color: #04a864;
        opacity: 0.9;
        backdrop-filter: blur(1px); */
    }

    .banner-main-text h1 {
        font-size: 2rem;
    }
}

/* slider item */
.item-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 0;
}

.item-card h4 {
    align-items: center;
    text-align: center;
    font-size: 16px;
    /* margin-top: px; */
}


/* best seller */

h2.title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--icon-color);

}

.product-card {
    position: relative;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 0 auto 25px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 110, 0.2) 0 7px 29px 0;
    transition: 0.4s ease;
    background-color: #fff;
    overflow: hidden;
    /* height: 440px; */

}

.product-icon ul {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.4s ease;
    position: absolute;
    top: 25px;
    right: 20px;
    flex-direction: column;
    transform: translateX(100px);
}

.product-icon ul li a {
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    background-color: var(--icon-color);
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
}

.product-img img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 10px;
    transition: 0.5s ease;
    overflow: hidden;

}

.procut-text {
    line-height: 1;
}

.procut-text h6 {
    font-size: 15px;
    color: green;
    opacity: 0.6;
}

.procut-text h5 {
    font-size: 22px;
}

.card-btn a {
    display: inline-block;
    padding: 8px 8px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    margin-top: 14px;
    transition: 0.4s ease;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-btn a:hover {
    background-color: var(--icon-color);
    color: #030F0F;
    border: #333;
}

.card-btn a i {
    margin-left: 5px;
}

.product-card:hover .product-icon ul {
    transform: inherit;
    z-index: 9;
}

.product-card:hover img {
    transform: scale(1.2);
}

.bestseller-slider {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* offer */
.product-timer {
    position: relative;
    z-index: 9;
    background-color: var(--bg-color);
    max-height: 440px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 110, 0.2) 0 7px 29px 0;
}

.product-timer img {
    max-height: 260px;
}

.procut-time {
    padding: 0 20px;
    text-align: center;
    max-width: 100%;
}

.timer-flex ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timer-flex ul li {
    width: 55px;
    height: 55px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    margin: 10px 5px;
}


/* weekend offer */

.weekend-main {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin: 12px 0;
}


.weekend-text {
    position: absolute;
    top: 25%;
    left: 4%;
    width: 100%;
}

.weekend-text h5 {
    font-size: 18px;

    font-weight: 600;
}

.weekend-text h3 {
    color: #030F0F;
    font-size: 30px;
    /* width: 60%; */
}

/* mobile */
@media (max-width:640px) {
    .weekend-text h3 {
        color: #030F0F;
        font-size: 20px;
    }
}

*/ .weekend-text .card-btn a {
    background-color: #eeed00;
    color: #000;
    border-color: #eeed00;
}

/* featured */
.feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature-item i {
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    background-color: #03624C;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 20px;
    font-size: 24px;
}

.feature-item p {
    font-size: 16px;
    color: #030F0F;
    font-weight: 600;

}

/* Blog Section */
.blog-box {
    width: 100%;
    position: relative;

}

.blog-box .blog-img {
    overflow: hidden;
    margin-bottom: 14px;
}

.blog-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;

}

.blog-text h3 {
    font-size: 22px;
}

.blog-arrow a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
}

.blog-arrow a i {
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    font-size: 12px;
    background-color: #03624C;
    color: #fff;
    border-radius: 50%;
}

/* blog movile */
@media (max-width:640px) {
    /* .blog-img img {
        width: 80%;
        height: 190px;
        object-fit: cover;
        border-radius: 10px;
    } */
}

/* footer */
footer {
    background-color: #04a864;
    padding: 50px 0 0;
}

footer img {
    width: 90px;
    height: 80px;
    margin: 0 25%;
}

footer p {
    color: #fff;
}

.footer-link a {
    color: #fff;
}

footer h4 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-link ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 9px;
}

.footer-felx li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px;
}

.footer-felx li i {
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    background-color: #1ec39d;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.4s ease;
}

.footer-felx li a i:hover {
    transform: translateY(-5px);
}

/* logo */
.footer-social ul {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
    gap: 12px;
    ;
}

.footer-social ul li {
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    background-color: #1ec39d;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 5px;
    transition: 0.4s ease;
}

.footer-social ul li:hover {
    transform: translateY(-5px);
}

/* mobile footer */
@media (max-width:640px) {}